/*
  320    -> 425  Mobile
  426    -> 768 Table
  769   -> ∞∞∞  PC
*/

/*STATIC*/
@import "static/header.css";
@import "static/nav.css";
@import "static/headerMedia.css";
@import "static/nav-footerMobile.css";
@import "static/footer.css";

/*HOME*/
@import "home/homeBackground.css";
@import "home/homeStyle.css";

/*ABOUT US*/
@import "about us/about us.css";
@import "about us/aboutUsBackground.css";
@import "about us/aboutUsMedia.css";
/*OUR OFFICE*/

/*VACANCIES*/
@import "vacancies/vacancies.css";
/*CONTACTS*/
@import "contacts/contacts.css";
@import "contacts/contactsMedia.css";
/*COMMON*/
@import "commonSlider.css";

/*Basic options*/

@font-face {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/11585.ttf");
  }
  
  @font-face {
    font-family: "Bebas NeueNormal";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/11819.ttf");
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Bebas Neue";
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  a:visited,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }
  
  /*END Basic options*/
.hr__footer{
    position: absolute;
    width: 100vw;
    bottom: 90px;
    opacity: .1;
}
.vacancies__content-hr{
    position: absolute;
    width: 100vw;
    top: 326px;
    opacity: .1;
    left: 0;
}
@media (max-width: 990px) {
    .vacancies__content-hr{
        display: none;
    }
}
@media (max-width: 478px) {
    .hr__footer{
        display: none;
    }
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-width: 320px;
}
header{
    min-width: 320px;
}
main {
    position: relative;
    min-width: 320px;
}
footer{
    min-width: 320px;
    position: fixed;
}

.white__button:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #000;
}