@import "COMMON.css";
.document{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(25, 24, 24, .96)
}
.document__inner{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    transform: translateX(0);
    transition: .65s ease;
}
.document__item{
    z-index: 1;
    position: relative;
    padding: 19px;
    width: 100vw;
    height: 100vh;
}

