/*
  320    -> 425  Mobile
  425    -> 768 Table
  768   -> ∞∞∞  PC
*/

/*STATIC*/
@import "static/header.css";
@import "static/nav.css";
@import "static/footer.css";
@import "static/footerMobile.css";

/*HOME*/
@import "home/homeBackground.css";
@import "home/homeStyle.css";

/*ABOUT US*/

/*OUR OFFICE*/

/*VACANCIES*/

/*CONTACTS*/

/*COMMON*/
@import "commonSlider.css";

* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;

}

main {
    position: relative;
    grid-area: m;
}

@font-face {
    font-family: bebas Neue;
    font-style: normal;
    font-weight: 400;
    src: url("../font/11585.ttf");
}

* {
    font-family: "bebas Neue", serif;
}