/*медиа запросы*/

@media screen and (max-width: 1200px) {

  .contacts-arrow {
    display: none;
  }

  .contact__map {
    bottom: 95px;
  }

  img.blackMap {
    width: 100%;
    height: 100vh;
  }

  .contact__map img.marker {
    right: 320px;
    left: 320px;
  }

  .contacts__blockOne {
    width: 45%;
  }

  .contacts__content h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .contacts__blockOne {
    width: 55%;
  }

  .contact__map img.marker {
    right: 220px;
    left: 220px;
  }

  .contacts__content h2 {
    left: 140px;
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__content-tvoContainers {
    padding-left: 25%;
    flex-direction: column;
  }

  .contacts__blockOne {
    width: 100%;
    margin-top: 70px;
  }

  .contacts__blockTwo {
    width: 100%;
    height: 30vh;
  }

  .contacts__content h2 {
    font-size: 35px;
  }

  .contact__point {
    z-index: 11;
  }

  .contact__map {
    bottom: 0;
  }

  img.blackMap {
    height: 58vh;
  }
}

@media screen and (max-width: 480px) {

  .contacts__content-tvoContainers {
    padding-left: 0;
  }

  .contacts__blockOne {
    margin-left: 5%;
    margin-top: 100px;
  }

  .contacts__blockTwo {
    width: 100%;
    margin-top: 90px;
  }

  img.blackMap {
    height: 50vh;
  }

  .contact__point {
    width: 75%;
  }

  .contact__map img.marker {
    right: 120px;
    left: 120px;
  }

  .contact__map {
    bottom: 50px;
  }
}
