@import "../COMMON.css";

/*BACKGROUND*/

.contacts.document__item {
  overflow: hidden;
} 

.contacts-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: grey;
  background-size: auto;
  z-index: 1;
}

.contacts-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.96);
  z-index: 1;
}

/*ARROW*/
.contacts-arrow {
  position: absolute;
  top: 0;
  left: 10%;
  height: 100vh;
  width: 1px;
  background-color: rgba(163, 170, 174, 0.2);
  z-index: 1;
}

/*ARROW inside*/
.contacts-arrow__inside {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.contacts-arrow__cubL {
  position: absolute;
  top: 0;
  left: 30%;
  background-color: rgba(163, 170, 174, 0.2);
  /*height: 300px;*/
  height: 37%;
  width: 1px;
  display: none;
}

.contacts-arrow__cubR {
  position: absolute;
  top: 0;
  left: 57.7%;
  background-color: rgba(163, 170, 174, 0.2);
  /*height: 300px;*/
  height: 37%;
  width: 1px;
}

.contacts-arrow__inside1 {
  position: absolute;
  /*top: 300px;*/
  top: 32%;
  left: 32%;
  background-color: rgba(163, 170, 174, 0.2);
  width: 100vw;
  height: 1px;
}

.contacts-arrow__inside2 {
  position: absolute;
  top: 77%;
  left: 0;
  background-color: rgba(163, 170, 174, 0.2);
  width: 100vw;
  height: 1px;
}

.contacts__content-tvoContainers {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 12%;
}

.contacts__blockOne {
  order: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 200px;
}

.contacts__blockOne {
  margin-right: 35px;
}
.contacts__blockTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 2;
  width: 70%;
  height: 100vh;
}

.contact__map img.marker {
  width: 25px;
  right: 420px;
  left: 420px;
  position: absolute;
  z-index: 1;
}

img.blackMap {
  position:absolute;z-index:0;top:0;left:0;
width:100%;height:100%;
}

.contacts__content h2 {
  font-family: "Arial";
  font-weight: 900;
  font-size: 54px;
  line-height: 100px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.contact__phone {
  font-size: 18px;
  left: 180px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.contact__phone img {
  z-index: 1;
  margin-right: 20px;
}

.contact__mail {
  font-size: 18px;
  left: 180px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.contact__mail img {
  z-index: 1;
  margin-right: 20px;
}

.contact__point {
  font-size: 18px;
  left: 180px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.contact__point img {
  z-index: 1;
  margin-right: 20px;
}

.contact__map {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 90px;
}
