@import "../COMMON.css";
@media (min-width: 768px) {
}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (min-width: 375px) and (max-width: 480px) {
    .header__button {
        width: 138px;
        margin-right: 25px;
    }

    .header__search {
        width: 48px;
        height: 48px;
        right: 175px;
    }

    div.title h1 {
        font-size: 32px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {

    .header__logo img {
        width: 100%;
    }

    .header__button {
        width: 118px;
        margin-right: 10px;
    }

    .header__button {
        width: 110px;
        font-size: 11px;
        height: 48px;
        line-height: 45px;
    }

    .header__logo {
        margin-left: 20px;
    }

    .header__search {
        width: 45px;
        height: 45px;
        right: 130px;
        line-height: 55px;
    }
}
