@import "../COMMON.css";

@media (min-width: 768px) {
}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (min-width: 375px) and (max-width: 480px) {
    .white__button {
        width: 138px;
        margin-right: 20px;
    }

    .header__search {
        /*width: 45px;*/
        height: 45px;
        right: 175px;
    }

    .header__search-suggest {
        right: 175px;
    }

    div.title h1 {
        font-size: 32px;
    }

    .header__active-headerButtonSearch {
        width: 45px;
    }
    .header__search-p {

        font-size: 11.25px;
    }
}

@media (min-width: 320px) and (max-width: 375px) {

    .header__logo img {
        width: 100%;
    }

    .white__button {
        width: 118px;
        margin-right: 10px;
    }

    .white__button {
        width: 110px;
        font-size: 10.25px;;
        height: 45px;
        line-height: 45px;
    }

    .header__logo {
        margin-left: 20px;
    }

    .header__active-headerButtonSearch {
        width: 42px;
    }

    .header__search-suggest {
        right: 130px;
    }

    .header__search {
        /*width: 45px;*/
        height: 45px;
        right: 130px;
        /*right: 20%;*/
        /*line-height: 55px;*/
    }
    .header__search-p {
        font-size: 10.25px;
    }
}
