@import "../COMMON.css";

/* Nav */

.nav {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 35px;
  }
  
  .nav ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
  }
  
  .nav ul li:hover {
    color: #fff;
  }
  
  .nav ul li.location {
    font-size: 10px;
    margin-bottom: 25px;
  }
  
  li.location img {
    position: relative;
    top: 3px;
  }
  
  li.active {
    color: #ffffff;
  }
  
  /* END Nav */