@import "../COMMON.css";

.nav {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 35px;
}

.header__home, .header__aboutUs, .header__vacancies, .header__contacts {
    cursor: pointer;
}

.nav ul li {
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
}

.nav ul li:hover {
    color: #fff;
}

.nav ul li.location {
    font-size: 10px;
    margin-bottom: 25px;
}

li.location img {
    position: relative;
    top: 3px;
}

.nav li.active {
    color: #ffffff;
}

@media (max-width: 425px) {
    header .nav {
        display: none;
    }
}
