@import "../COMMON.css";
.aboutUs{
    transition: .7s ease;
    overflow: hidden;
}


/* Styles for main content */
.main__tvoContainers {
    position: relative;
    display: flex;
    z-index: 1;
}

.main__ourProjects {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    justify-content: center;
}

.main__ourProjects h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: 800;
    font-size: 47px;
}

.main__ourProjects h2 {
    color: #969696;
}

.main__ourProjects p {
    color: rgba(255, 255, 255, 0.2);
    font-size: 18px;
    font-family: "Bebas NeueNormal";
    line-height: 30px;
    padding: 0 50px 0 0;
}

.main__ourProjects a {
    width: 100px;
}

/* Slider */

.main__sliderAboutUs {
    width: 750px;
    height: 268px;
    margin: 250px auto;
    overflow: hidden;
}

#line {
    width: 2940px;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

#line img {
    float: left;
    margin-right: 50px;
}

#line::after {
    content: "";
    display: block;
    clear: both;
}

img#slider-right {
    width: 40px;
}

img#slider-left {
    width: 40px;
}

#slider-left {
    margin-top: 20px;
    position: absolute;
}

#slider-right {
    margin-top: 20px;
    margin-left: 50px;
    position: absolute;
}

/* END Slider */

/* Main-show */

.main__show {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.main__show img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
}
.main__show img.imgOne {
    position: relative;
    bottom: 85px;
}

.main__show-img {
    position: relative;
}

.main__show-img img.btnVideo {
    width: 40px;
    height: auto;
    position: absolute;
    bottom: 100px;
    left: 50px;
}
/* END  Main-show */


/*hide script*/

.hide{
    display: none!important;
}
.main__show-hide{
    display: none;
}
/*Когда дан сделает контент на этой стр, нужно попробовать смещать не страницу, а только заголовок H1, на главную */
@media (min-width: 768px) {
    .aboutUs__showHome{
        /*transform: translate(-240px);*/
    }
}