@import "../COMMON.css";

/*BACKGROUND*/
.aboutUs-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.aboutUs-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.aboutUs-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    background-image: url("../../images/jpg/humans.jpg");
    background-size: auto;
    z-index: 1;
}

.aboutUs-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, .96);
    z-index: 1;
}