@import "../COMMON.css";

/* Content */

.main__title {
  padding-top: 320px;
  padding-left: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main__title h1 {
  font-family: Arial;
  z-index: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 55px;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: #f2f2f2;
}

.main__sub {
  position: relative;
  top: 20px;
  z-index: 1;
}

.main__sub h2 {
  font-family: "Bebas NeueNormal";
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
  font-style: normal;
  font-weight: 100;
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.2);
}

/* END Content */

@media (max-width: 425px) {
  .home-arrow {
    display: none;
  }
}
