@import "../../COMMON.css";

.containerImgVideo {
    position: absolute;
    top: 0;
    left: 100vw;
    background-color: rgba(33, 33, 33, .75);
    z-index: 3;
    display: flex;
    justify-content: center;
    transition: 1s;
}

video {
    height: 100vh;
    width: auto;
    opacity: 1;
}
.sliderImgVideoL {
    position: absolute;
    left: -60px;
    bottom: 130px;
    display: none;
}
.cross {
    position: absolute;
    top: 77px;
    left: 40vw;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 1;
    padding: 11px 0 0 15px;
}

/*@media (max-width: 990px) {*/
/*}*/

/*@media (max-width: 780px) {*/
/*}*/

@media (max-width: 480px) {
    .cross{
        top: 218px;
        left: 75vw;
    }

    .containerImgVideo {
        top: 40vh;
        left: 0;
        padding: 5vw;
    }
    video {
        height: auto;
        width: 90vw;
    }
    .sliderImgVideoL{
        display: block;
        top: 218px;
        left: 55vw;
    }
}
